<a href="https://colab.research.google.com/github/TheDerik/Python/blob/main/Learn_Complete_Python_Programming_in_2023_Zero_to_Mastery_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Datatypes:**

In [ ]:
integers = 1, 23, 43
float    = 1.23, 34.42, 3.41
string   = "DEBRIK"
boolean  = True , False
list     = []

# **Variables:**

In [ ]:
age = "21"

print("Debrik is " + age + " years old.")
print("Debrik is" , age , "years old.")
print("Debrik is {} years old.".format(age))
print(f"Debrik is {age} years old.")

# **Strings:**

In [ ]:
print("I am \nDebrik")

# 'r' is used to make the string a raw string and functions will work
print(r"I am \nDebrik")

# printing two different print statement in single line using 'end' function
print("I am 21",end=" ")
print("years old")

print("Debrik" + "Chakraborty") # using '+' to concatenate

In [ ]:
# Lowercase and uppercase
name = "Debrik Chakraborty"
print(name.lower())
print(name.upper())

# Check if all characters are in upper or lowercase by adding 'is'
print(name.islower())
print(name.isupper())
print(name.lower().islower()) # converting in lower case then checking
print(name.upper().isupper()) # converting in upper case then checking

In [ ]:
# Length of a string
print(len(name))

# Indexing
print(name[2])
print(name[-2])
print(name[2:-2]) # from 2 upto element before -2
print(name[:-2])
print(name[2:])
print(name[::2]) # skips 2nd element character
print(name[::-1]) # reverse the whole string

# Finding index
print(name.index("a"))

# replacing a character whith another
print(name.replace("a","e"))
print(name.replace("Debrik","Nikita"))

In [ ]:
# Reverse string
string_1 = "Debrik"
print(string_1[::-1])

# Palindrome check
string_2 = "madam"
palindrome = string_2 == string_2[::-1]
print(palindrome)

#vowels cheack
string_3 = "My name is Debrik"
vowels= "AEIOUaeiou"
count = 0
for char in string_3:
  if char in vowels:
    count = count+1
print(count)

# **Numbers:**

In [ ]:
print(10/2)  # output in float
print(10//2) # output in integer
print(10%2)  # modulus provides the remainder

# String and number concatenate
print("My age is " + str(21))

# Converting Negative to Positive numbers using absolute function
print(abs(-21))
print(abs(21))

# Maximum and minimum value using max and min function
print(max(23,43,542,-12,43))
print(min(23,43,542,-12,43))

# Rounding a float value
print(round(5.6))
print(round(5.4))

In [ ]:
from math import *

#Ceiling and Floor function
print(ceil(5.4))  # always gives the upper value
print(floor(5.6)) # always gives the lower value

# Squareroot
print(sqrt(50))

**Assignment:** To calculates the area of a rectangle

In [ ]:
a=int(input("Enter the length:"))
b=int(input("Enter the width:"))
area= a*b
print("The area of the rectangle is",area)

**Assignment:** To convert temperatures from Fahrenheit to Celsius

In [ ]:
f=int(input("Enter the temperature in Fahrenheit:"))
c = ((f - 32) * 5/9)
print("The temperature in Celsius is:",c)

**Assignment:** To calculate the sum of the first n natural numbers

In [ ]:
n=int(input("Enter a number:"))
sum = 0
for i in range(1,n+1):
  sum = i + sum
print(sum)

In [ ]:
a=int(input())
b=int(input())
print(a+b)
print(a-b)
print(a*b)

# Lists:

In [ ]:
avengers = ["Iron Man","Captain America","Thor","Hulk","Dr. Strange","Spiderman",23,34,True,False]
print(avengers)
print(avengers[2])
print(avengers[2:4])
print(avengers[2][3]) # indexing inside a particular element

In [ ]:
# Replacing element in a list
avengers[7] = "Deadpool"
print(avengers)

In [ ]:
avengers = ["Iron Man","Captain America","Thor","Hulk","Dr. Strange","Spiderman"]
numbers = [1,2,3,4,5,6]

# index of an element
print(avengers.index("Thor"))

# count of an element
print(avengers.count("Thor"))

# Concatenating two lists using 'extend' function
avengers.extend(numbers)
print(avengers)

# adding an element using 'append' function
avengers.append("Black Panther")
print(avengers)

In [ ]:
# inserting an element in between a list
avengers.insert(1,"Black Widow")
print(avengers)

# popping the last element
avengers.pop()
print(avengers)

# removing an element between a list
avengers.remove("Hulk")
print(avengers)

In [ ]:
# sorting the list in ascending order
avengers = ["Iron Man","Captain America","Thor","Hulk","Dr. Strange","Spiderman"]
avengers.sort()
print(avengers)

# sorting the list in desecending order
avengers.sort(reverse=True)
print(avengers)

# copy into a new list
avengers_new = avengers.copy()
print(avengers)

In [ ]:
# average of a list
numbers = [1,2,3,4,5]
sum = 0
for i in numbers:
  sum = i + sum
avg = sum/(len(numbers))
print(avg)

In [ ]:
# taking list inputs from user array concept
def average():
   sum = 0
   n = int(input("How many numbers you want to enter: "))
   for i in range(n):
       sum+=int(input("Enter the number"))

   return sum/n

print(average())

In [ ]:
# taking list input from the user
ls = []
n = int(input("Enter the number of integers to stored in the list:"))
for i in range (0,n):
  elements= int(input())
  ls.append(elements)
print(ls)

# Tuples:

In [ ]:
tuple1 = (1,2,3,4,5)
print(tuple1)

# tuple inside a list
list1 = [(1,2),(3,4),(5,6),(7,8),(9,10)]
print(list1)

# changing a whole tuple inside a list
list1[-1] = (11,12)
print(list1)

**Assignment:** For this assignment, you will need to complete the following tasks:

**Assignment:** For this assignment, you will need to complete the following tasks:

Task 1: Create a Tuple Create a tuple named "fruits" that contains the following values: "apple", "banana", "cherry", and "orange".

Task 2: Access Tuple Elements Print the second element in the fruits tuple.

Task 3: Iterate through a Tuple Loop through the fruits tuple and print each value.

Task 4: Check if an Element Exists in a Tuple Check if "banana" is present in the fruits tuple.

Task 5: Tuple Length Print the length of the fruits tuple.

Task 6: Tuple Slicing Create a new tuple named "new_fruits" that contains the first two elements from the fruits tuple.

Task 7: Tuple Unpacking Create a tuple named "person" that contains the following values: "John", 25, "male". Then, unpack the values of the tuple into three variables: name, age, and gender.

In [ ]:
# task1
fruits = ("apple", "banana", "cherry", "orange")

#task2
print(fruits[1])

#task3
for i in fruits:
  print(i)

#task4
if "banana" in fruits:
  print("Present")

# task5
print(len(fruits))

#task6
new_fruits = fruits[0:2]
print(new_fruits)

#task7
person = ("John", 25, "male")
name, age, gender = person
print("name:",name)
print("age:",age)
print("gender:",gender)

banana
apple
banana
cherry
orange
Present
4
('apple', 'banana')
name: John
age: 25
gender: male

# Dictionaries:

In [ ]:
dict1 = {'a':"apple", "b":"banana", "c":"cat", "d":"dog"}
print(dict1)

# calling a key
print(dict1["b"])

# Functions:

In [ ]:
def new_fun(): # creating a function
  print("My first function")

new_fun()  # calling the function

My first function

In [ ]:
def add(a,b):
  c = a + b
  print(c)

add(2,3)  # assingning values to the function parameter

In [ ]:
# return statement
def cube(num):
  n = num*num*num
  return n  #return the value of 'n' if not used then output will be None and return should be at the last line of the function

print(cube(3))

**Assignment:** Write a Python function that takes two numbers as parameters and returns the sum of the squares of those numbers.

Example Input:

square_sum(3, 4)

Example Output:

25

In [ ]:
def square_sum(a,b):
  a = a*a
  b = b*b
  print(a+b)

square_sum(3,4)

**Assignment:** Write a Python function that takes a number as a parameter and returns True if the number is even, and False if it is odd.

Example Input:

is_even(4)

Example Output:

True

In [ ]:
def is_even(num):
  if num % 2 == 0:
    return True
  else:
    return False
is_even(4)

True

**Assignment:**Write a Python function that takes a list of numbers as input and returns the average of those numbers.

Example Input:

[1, 2, 3, 4, 5]

Example Output:

The average is: 3.0

In [ ]:
def average(num): # taking the value of num list inside
  sum = 0
  for i in num:
    sum = i + sum
  avg = sum/(len(num))
  print(avg)

num = []  # creating a null list
n = int(input("Enter the number of elements to enter inside the list:"))
for i in range (0,n):
  elements = int(input())
  num.append(elements)  # adding elements to num list
print(num)

average(num) # calling the function

# If Condition:

In [ ]:
# maximum of three numbers using functions
def max(a,b,c): # defining the function
  if a>b and a>c:
    print(a)
  elif b>a and b>c:
    print(b)
  else:
    print(c)

i = int(input("Enter the first number:"))
j = int(input("Enter the second number:"))
k = int(input("Enter the third number:"))
max(i,k,j)  # calling the function

**Assignment:**
Given an integer,n, perform the following conditional actions:

1.If n is odd, print "alpha"

2.If n is even and in the inclusive range of 5 to 10, print "beta"

3.If n is even and in the inclusive range of 10 to 20, print "gamma"

4.If n is even and greater than 45, print "delta"

In [ ]:
def odd_even(n):
  if n%2 != 0:
    print("Alpha")
  elif n%2 == 0 and n in range(5,10):
    print("Beta")
  elif n%2 == 0 and n in range(10,20):
    print("Gamma")
  elif n%2 == 0 and n>45:
    print("Delta")
  else:
    print("Wrong Input")

n = int(input("Enter the integer:"))
odd_even(n)

#While Loop:

In [ ]:
# a simple while loop
i = 0
while(i<=10): # until this condition is meet it will keep looping the below operations
  print(i)
  i += 1

#For Loop:

In [ ]:
# a simple for loop
name = "My name is Debrik"
for i in name:
  print(i)

In [ ]:
# using len function for assigning range
for i in range(len(name)):
  print(i)

In [ ]:
# range in for loop
for i in range(0,11):
  print(i)

In [ ]:
# using for loop to create power function
def power(num,pow):
  res = 1
  for i in range(pow):
    res = res * num
  return res

a = int(input("Enter the number:"))
b = int(input("Enter the power:"))
print(f"{b} Power of {a} is:",power(a,b))

In [ ]:
# nested for loop
numbers = [[1,2,3],[4,5,6],[7,8,9]]
for i in numbers: # first [1,2,3] get insitialized
  for j in i:  # here first 1 then 2 then 3 get initisalized
    print(j)

#Try and Except:

In [ ]:
try:

  num = int(input("Enter an integer:"))
  print(num)

except:   # this will execute when the user will give any input other than integer

  print("Print an interger only")

#File Handeling:

In [ ]:
# READING LINES
file = open("Desktop/Netwrk_ID.txt","r") # path name and type of file and "r" used for read
print(file.readable())  # Outputs True if present and vice versa
print(file.read())  # read the file and give output
print(file.readline()) # read only first line
print(file.readlines()) # read all the lines but in list form

file.close()
# Here it will not work as it is in colab

In [ ]:
# WRITING LINES
file = open("Desktop/Netwrk_ID.txt","a") # "a" used for append or use "w" to overwrite a file
file.write("Debrik")  # write in the file

file.close()

In [ ]:
n = int(input())
student_marks = {}
for _ in range(n):
    name, *line = input().split()
    scores = list(map(float, line))
    student_marks[name] = scores
the_student_name = input()

In [ ]:
n = int(input())  # taking input for number of students
student_marks = {}  # empty dictionary
for _ in range(n):
    name, *line = input().split() # name, *line = input().split() means that the first element of the list will be assigned to the variable name, and the rest of the
                                  # elements of the list will be unpacked into the variable line using '*' operator. split()- splits the input into individual words.
    scores = list(map(float, line)) #  using the map() function and float() conversion. The scores variable will hold a list of floating-point numbers. Now lines is scores.
    student_marks[name] = scores  # This line updates the student_marks dictionary with the student's name as the key and their list of scores as the corresponding value.
the_student_name = input()  # take name for whom the calculation will be done
for i in student_marks:   # dictionary inside loop
    if i == the_student_name: # searches the output name in the dictionary
        Avg = sum(student_marks[the_student_name])/3  # calculating avg for student_marks[for the output student]
        print(Avg)

3
Debrik 80 50 60
Nikita 90 80 85
Rikita 95 95 95
Nikita
85.0